<h2>Edit User</h2>

<button (click)="goBack()">Back</button>

<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading && user">
  <input
    type="text"
    [(ngModel)]="user.username"
    [disabled]="disabled"
    placeholder="Username"
  />
  <input
    type="password"
    [(ngModel)]="user.password"
    [disabled]="disabled"
    placeholder="Password"
  />
  <input
    type="text"
    [(ngModel)]="user.fullName"
    [disabled]="disabled"
    placeholder="Full Name"
  />
  <input
    type="email"
    [(ngModel)]="user.email"
    [disabled]="disabled"
    placeholder="Email"
  />
  <input
    type="text"
    [(ngModel)]="user.phone"
    [disabled]="disabled"
    placeholder="Phone"
  />
  <input
    type="text"
    [(ngModel)]="user.address"
    [disabled]="disabled"
    placeholder="Address"
  />

  <button (click)="editUser()" *ngIf="disabled">Editar</button>
  <button (click)="saveUser()" *ngIf="!disabled">Guardar</button>
</div>
