<h2>Edit User</h2>

<button mat-button (click)="goBack()">Back</button>

<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="user-form" *ngIf="!loading && user">
  {{ message }}
  <mat-list>
    <mat-list-item>
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="user.username"
          [disabled]="disabled"
          placeholder="Username"
        />
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input
          matInput
          type="password"
          [(ngModel)]="user.password"
          [disabled]="disabled"
          placeholder="Password"
        />
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="user.fullName"
          [disabled]="disabled"
          placeholder="Full Name"
        />
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input
          matInput
          type="email"
          [(ngModel)]="user.email"
          [disabled]="disabled"
          placeholder="Email"
        />
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="user.phone"
          [disabled]="disabled"
          placeholder="Phone"
        />
      </mat-form-field>
    </mat-list-item>

    <mat-list-item>
      <mat-form-field>
        <input
          matInput
          type="text"
          [(ngModel)]="user.address"
          [disabled]="disabled"
          placeholder="Address"
        />
      </mat-form-field>
    </mat-list-item>
  </mat-list>

  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      (click)="editUser()"
      *ngIf="disabled"
    >
      Edit
    </button>
    <button mat-raised-button (click)="disabled = !disabled" *ngIf="!disabled">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="saveUser()"
      *ngIf="!disabled"
    >
      Save
    </button>
  </div>
</div>
