.body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.title {
  background-color: #0654ae;
  color: white;
  padding: 45px;
  text-align: center;
  justify-content: center;
  font-size: 32px;
}

.productInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 60px;
  gap: 60px;
}

.ContainerProductImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-right: 20px;
}

.LittleImages {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 20px;
}

.Littleimage {
  flex: 1;
  width: 30%;
  height: auto;
  justify-content: center;
}

.descriptionContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionContainer h2 {
  display: flex;
  flex-wrap: wrap;
  color: gray;
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.0125em;
  margin: 15px 0px 10px 0px;
}

.AmountP {
  color: gray;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  margin: 15px 0px 10px 0px;
}

.productName {
  width: 300px;
  line-height: 35px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  display: flex;
  flex-wrap: wrap;
  color: gray;
  margin-bottom: 10px;
  width: 335px;
}

.productPrice {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  color: #0654ae;
}

.latestAddedTitle {
  text-align: center;
}

.latestAddedTitle h2 {
  font-size: 40px;
  margin: 50px;
}

.latestAdded {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.productComponent {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid lightgrey;
}

.ImageContainer {
  width: 100%;
  margin-bottom: 10px;
}

.productImage {
  width: 100%;
  height: 100%;
}

.productButtons {
  display: flex;
  align-items: center;
  margin: 10px auto;
  cursor: pointer;
}

span {
  margin: 0 10px;
  font-size: 20px;
}

.amountBtn {
  text-align: left;
  color: white;
  border: none;
  margin: 10px 0;
  border-radius: 0%;
}

.decrementBtn {
  background-color: #c4c4c4;
  color: white;
  width: 50px;
  border-radius: 0;
  border: 1px solid #c4c4c4;
  font-size: 47px;
}

.productAmount {
  background-color: white;
  color: black;
  width: 164px;
  border: 1px solid #c4c4c4;
  font-size: 22px;
}

.incrementBtn {
  background-color: #c4c4c4;
  color: white;
  font-size: 25px;
  width: 50px;
  border: 1px solid #c4c4c4;
}

.addToCartBtn{
  background-color: #0654ae;
  color: white;
  padding: 23px 92px;
  border-radius: none;
  border: none;
}


.descriptionContainerImg {
  justify-content: left;
  padding: 20px;
}

.descriptionContainerImg p {
  font-size: 15px;
}

.descriptionContainerImg h3 {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1030px) {
  .latestAdded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .productInfoContainer {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .ContainerProductImage {
  
    width: 80%;
    height: auto;
  }

  .ImageContainer{
    margin: 2px;
    max-width: 60%;
    padding: 0;
  }

  .LittleImages {
    justify-content: center;
  }

  .productComponent {
    max-width: none;
  }

  .latestAddedTitle h2 {
    font-size: 32px;
    margin: 30px;
  }

  .latestAdded {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    padding: 30px;
    font-size: 20px;
  }

  .productImage{
    width: 80%;
    height: auto;
    margin-left: 2px;
  }
  
  .ContainerProductImage {
    width: 80%;
    height: auto;
  }

  .productName {
    font-size: 24px;
    line-height: 30px;
  }

  .productDescription {
    font-size: 16px;
    max-width: 260px;
  }

  .productPrice {
    font-size: 24px;
  }

  .latestAddedTitle h2 {
    font-size: 28px;
    margin: 40px;
  }

  .descriptionContainerImg p {
    font-size: 14px;
  }

  .descriptionContainerImg h3 {
    font-size: 18px;
  }
}

