.body {
  background-color: #f2f2f2; /* Color de fondo del cuerpo */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: #0654ae; /* Color de fondo del título */
  color: white; /* Color del texto del título */
  padding: 45px; /* Espaciado interno del título */
  text-align: center;
  justify-content: center;
  font-size: 32px; /* Tamaño de fuente del título */
}

.productInfoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 60px; /* Márgenes superior e inferior y margen izquierdo y derecho */
  gap: 60px; /* Espacio entre los elementos del contenedor */
}

.ContainerProductImage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px; /* Ancho máximo del contenedor de la imagen del producto */
  margin-right: 20px; /* Margen derecho del contenedor de la imagen del producto */
}

.LittleImages {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; /* Margen superior */
  gap: 20px; /* Espacio entre las imágenes pequeñas */
}

.Littleimage {
  flex: 1;
  width: 30%; /* Ancho de las imágenes pequeñas */
  height: auto; /* Altura automática para mantener la proporción */
  justify-content: center;
}

.descriptionContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionContainer h2 {
  display: flex;
  flex-wrap: wrap;
  color: gray; /* Color del texto */
  font-size: 20px;
  font-weight: 500;
  line-height: 42px; /* Altura de línea */
  font-family: Roboto, sans-serif; /* Fuente del texto */
  letter-spacing: 0.0125em; /* Espaciado entre caracteres */
  margin: 15px 0px 10px 0px; /* Márgenes superior, inferior, izquierdo y derecho */
}

.AmountP {
  color: gray; /* Color del texto */
  font-size: 20px;
  font-family: Roboto, sans-serif; /* Fuente del texto */
  margin: 15px 0px 10px 0px; /* Márgenes superior, inferior, izquierdo y derecho */
}

.productName {
  width: 300px; /* Ancho del nombre del producto */
  line-height: 35px; /* Altura de línea */
  font-size: 30px; /* Tamaño de fuente del nombre del producto */
  font-weight: bold; /* Grosor de la fuente */
  margin-bottom: 10px; /* Margen inferior */
}

.productDescription {
  display: flex;
  flex-wrap: wrap;
  color: gray; /* Color del texto */
  margin-bottom: 10px; /* Margen inferior */
  width: 335px; /* Ancho de la descripción del producto */
}

.productPrice {
  font-weight: bold; /* Grosor de la fuente */
  font-size: 30px; /* Tamaño de fuente del precio del producto */
  margin-bottom: 10px; /* Margen inferior */
  color: #0654ae; /* Color del precio del producto */
}

.latestAddedTitle {
  text-align: center;
}

.latestAddedTitle h2 {
  font-size: 40px; /* Tamaño de fuente del título */
  margin: 50px; /* Márgenes superior e inferior */
}

.latestAdded {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los elementos del contenedor */
}

.productComponent {
  background-color: white; /* Color de fondo del componente del producto */
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid lightgrey; /* Borde del componente del producto */
}

.ImageContainer {
  width: 100%; /* Ancho del contenedor de la imagen */
  margin-bottom: 10px; /* Margen inferior */
}

.productImage {
  width: 100%; /* Ancho de la imagen del producto */
  height: 100%; /* Altura de la imagen del producto */
}

.productButtons {
  display: flex;
  align-items: center;
  margin: 10px auto;
  cursor: pointer;
}

span {
  margin: 0 10px;
  font-size: 20px; /* Tamaño de fuente del span */
}

.amountBtn {
  text-align: left;
  color: white; /* Color del texto del botón */
  border: none;
  margin: 10px 0;
  border-radius: 0%; /* Borde redondeado del botón */
}

.decrementBtn {
  background-color: #c4c4c4; /* Color de fondo del botón de decremento */
  color: white; /* Color del texto del botón de decremento */
  width: 50px; /* Ancho del botón de decremento */
  border-radius: 0;
  border: 1px solid #c4c4c4; /* Borde del botón de decremento */
  font-size: 47px; /* Tamaño de fuente del botón de decremento */
}

.productAmount {
  background-color: white; /* Color de fondo de la cantidad del producto */
  color: black; /* Color del texto de la cantidad del producto */
  width: 164px; /* Ancho de la cantidad del producto */
  border: 1px solid #c4c4c4; /* Borde de la cantidad del producto */
  font-size: 22px; /* Tamaño de fuente de la cantidad del producto */
}

.incrementBtn {
  background-color: #c4c4c4; /* Color de fondo del botón de incremento */
  color: white; /* Color del texto del botón de incremento */
  font-size: 25px; /* Tamaño de fuente del botón de incremento */
  width: 50px; /* Ancho del botón de incremento */
  border: 1px solid #c4c4c4; /* Borde del botón de incremento */
}

.addToCartBtn {
  background-color: #0654ae; /* Color de fondo del botón "Agregar al carrito" */
  color: white; /* Color del texto del botón "Agregar al carrito" */
  padding: 23px 92px; /* Espaciado interno del botón "Agregar al carrito" */
  border-radius: none;
  border: none;
  display: flex;
  flex-direction: column;
}

.descriptionContainerImg {
  justify-content: left;
  padding: 20px;
}

.descriptionContainerImg p {
  font-size: 15px; /* Tamaño de fuente del párrafo */
}

.descriptionContainerImg h3 {
  font-size: 20px; /* Tamaño de fuente del encabezado */
  font-weight: bold; /* Grosor de la fuente del encabezado */
}

@media screen and (max-width: 1030px) {
  .latestAdded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
}

/* CSS Responsivo */
@media screen and (max-width: 768px) {
  .productInfoContainer {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .ContainerProductImage {
    width: 80%; /* Ancho del contenedor de la imagen del producto en dispositivos móviles */
    height: auto; /* Altura automática para mantener la proporción */
  }

  .ImageContainer {
    margin: 2px;
    max-width: 60%; /* Ancho máximo del contenedor de la imagen en dispositivos móviles */
    padding: 0;
  }

  .LittleImages {
    justify-content: center;
  }

  .productComponent {
    max-width: none;
  }

  .latestAddedTitle h2 {
    font-size: 32px; /* Tamaño de fuente del título en dispositivos móviles */
    margin: 30px; /* Márgenes superior e inferior */
  }

  .latestAdded {
    margin: 20px; /* Márgenes superior e inferior */
  }
}

@media screen and (max-width: 600px) {
  .title {
    padding: 30px; /* Espaciado interno del título en dispositivos móviles */
    font-size: 20px; /* Tamaño de fuente del título en dispositivos móviles */
    
  }

  .productImage {
    width: 80%; /* Ancho de la imagen del producto en dispositivos móviles */
    height: auto; /* Altura automática para mantener la proporción */
    margin-left: 2px;
  }

  .ContainerProductImage {
    width: 80%; /* Ancho del contenedor de la imagen del producto en dispositivos móviles */
    height: auto; /* Altura automática para mantener la proporción */
  }

  .productName {
    font-size: 24px; /* Tamaño de fuente del nombre del producto en dispositivos móviles */
    line-height: 30px; /* Altura de línea del nombre del producto en dispositivos móviles */
    text-align: center;
  }

  .productDescription {
    font-size: 16px; /* Tamaño de fuente de la descripción del producto en dispositivos móviles */
    max-width: 260px; /* Ancho máximo de la descripción del producto en dispositivos móviles */
  }

  .productPrice {
    font-size: 24px; /* Tamaño de fuente del precio del producto en dispositivos móviles */
  }

  .latestAddedTitle h2 {
    font-size: 28px; /* Tamaño de fuente del título en dispositivos móviles */
    margin: 40px; /* Márgenes superior e inferior */
  }

  .descriptionContainerImg p {
    font-size: 14px; /* Tamaño de fuente del párrafo en dispositivos móviles */
  }

  .descriptionContainerImg h3 {
    font-size: 18px; /* Tamaño de fuente del encabezado en dispositivos móviles */
  }
}
