<h2>Edit Inventory</h2>

<button mat-button (click)="goBack()">Back</button>

<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && inventory">
  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="inventoryID">
      <th mat-header-cell *matHeaderCellDef>Inventory ID</th>
      <td mat-cell *matCellDef="let item">{{ item.inventoryID }}</td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Item Name</th>
      <td mat-cell *matCellDef="let item">{{ item.product.productName }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
    </ng-container>

    <ng-container matColumnDef="stockMin">
      <th mat-header-cell *matHeaderCellDef>Stock Min</th>
      <td mat-cell *matCellDef="let item">{{ item.stockMin }}</td>
    </ng-container>

    <ng-container matColumnDef="stockMax">
      <th mat-header-cell *matHeaderCellDef>Stock Max</th>
      <td mat-cell *matCellDef="let item">{{ item.stockMax }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let item">{{ item.product.price }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let item">
        <button
          mat-raised-button
          color="primary"
          (click)="inventorySelected(item)"
          *ngIf="disabled"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['inventoryID', 'productName', 'quantity', 'stockMin', 'stockMax', 'price', 'action']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['inventoryID', 'productName', 'quantity', 'stockMin', 'stockMax', 'price', 'action']"></tr>
  </table>
</div>
