<h2>Edit Inventory</h2>

<button (click)="goBack()">Back</button>

<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading && inventory">
  <div *ngFor="let item of inventory">
    <input
      type="number"
      [(ngModel)]="item.productID"
      [disabled]="disabled"
      placeholder="Item id"
    />
    <input
      type="text"
      [(ngModel)]="item.product.productName"
      [disabled]="disabled"
      placeholder="Item name"
    />
    <input
      type="number"
      [(ngModel)]="item.quantity"
      [disabled]="disabled"
      placeholder="Quantity"
    />
    <input
      type="number"
      [(ngModel)]="item.stockMin"
      [disabled]="disabled"
      placeholder="Stock Min"
    />
    <input
      type="number"
      [(ngModel)]="item.stockMax"
      [disabled]="disabled"
      placeholder="Stock Max"
    />
    <input
      type="number"
      [(ngModel)]="item.product.price"
      [disabled]="disabled"
      placeholder="Price"
    />
    <!-- Actions -->
    <button (click)="inventorySelected(item)" *ngIf="disabled">Edit</button>
  </div>

</div>
