.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
  position: sticky;
  top: 0; /* Hace que el encabezado sea pegajoso en la parte superior */
  z-index: 100; /* Asegura que el encabezado esté por encima de otros elementos */
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0099ff;
  cursor: pointer;
}

.icon-buttons {
  display: flex;
  gap: 12px;
}



button.pages:hover {
  color: #0654ae;
}
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
  color: #0654ae;
}

button:hover {
  color: #0099ff;
}



.menu-toggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;

}

.menu-toggle mat-icon {
  font-size: 24px;
  display: none;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.mobile-menu.open {
  display: flex;
}

.mobile-menu a {
  display: block;
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.mobile-menu a:hover {
  color: #0654ae;
  background-color: #ffffff;
}



@media (max-width: 600px) {

  .menu-toggle mat-icon {
    font-size: 24px;
    display: flex;
  }
  
 
  .icon-buttons {
    display: none;
  }

  .mobile-menu {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 12px;
    color: #ffffff;
    background-color: #0654ae;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .pages{
    display: none;
  }
}

