<div class="header">
  <div class="header-container">
    <div class="header-logo">
      <a href="javascript:void(0)" class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
    </div>
    <div class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="" class="header-menu-link">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link">About</a>
        </li>
        <li class="header-menu-item">
          <a href="javascript:void(0)" class="header-menu-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>

