<mat-toolbar color="primary">
  <span class="logo">Mi Tienda</span>
  <div class="icon-buttons">
    <button mat-icon-button routerLink="/home">
      <mat-icon aria-label="Home">home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/carrito">
      <mat-icon aria-label="Carrito">shopping_cart</mat-icon>
    </button>
    <button *ngIf="isLoggedIn" mat-icon-button (click)="logout()">
      <mat-icon aria-label="Logout">exit_to_app</mat-icon>
    </button>
    <button *ngIf="!isLoggedIn" mat-icon-button routerLink="/login">
      <mat-icon aria-label="Login">account_circle</mat-icon>
    </button>
    <button *ngIf="!isLoggedIn" mat-icon-button routerLink="/register">
      <mat-icon aria-label="Register">person_add</mat-icon>
    </button>
  </div>
</mat-toolbar>

