/* Establece el modelo de caja para todos los elementos */
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Configuración básica del body */
body {
  padding: 0;
  margin: 0;
}

/* Estilos para el contenedor principal de la página de error */
#notfound {
  position: relative;
  height: 100vh;
}

/* Estilos para el contenedor de la página de error */
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Estilos generales para la página de error */
.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

/* Estilos para el elemento que muestra el código de error 404 */
.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

/* Estilos para el título dentro del elemento de error 404 */
.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #0654ae;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

/* Estilos para el texto sombreado dentro del título de error 404 */
.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

/* Estilos para el subtítulo dentro del elemento de error 404 */
.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0d0d0e;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

/* Estilos para un segundo título en la página de error */
.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 25px;
}

/* Estilos personalizados para un botón */
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #0654ae;
  --mdc-protected-button-label-text-color: #fff;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

/* Estilos para pantallas aún más pequeñas */
@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}
