.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.background-icon {
  font-size: 10rem;
  opacity: 0.3;
  animation-name: backgroundAnimation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.title {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

button {
  width: 200px;
}

@keyframes backgroundAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

