<h2>Order Status</h2>

<div class="user-form" *ngIf="loading">Loading...</div>

<div class="user-form" *ngIf="!loading">
  {{ message }}
  <table>
    <tr>
      <td>Order ID:</td>
      <td>
        {{ order.orderID }}
      </td>
    </tr>
    <tr>
      <td>Order Status:</td>
      <td>
        {{ order.orderStatus }}
      </td>
    </tr>
    <tr>
      <td>Order Date:</td>
      <td>
        {{ order.orderDate }}
      </td>
    </tr>
    <!-- For each order with products -->
    <tr *ngFor="let product of order.orderWithProducts">
      <td>Product Name:</td>
      <td>
        {{ product.product.productName }}
      </td>
    </tr>
  </table>
</div>
