<div class="mainContainer">
  <div class="registerForm" > {{message}}
    <div class="content">
      <div class="titleContainer">
        <p>Sign Up</p>
      </div>
      <div class="formContainer">
        <form [formGroup]="register" (ngSubmit)="Registrar()" >
          <div class="inputContainer">

            <p class="titleFullName">Name</p>
            <input class="inputFullName" type="text" name="fullName" id="fullName" placeholder="Name" formControlName="fullName" />

            <p class="titleEmail">Email</p>
            <input class="inputEmail" type="email" name="email" id="email" placeholder="Email" formControlName="email"/>

            <p class="titleUserName">Username</p>
            <input class="inputUserName" type="text" name="username" id="Username" placeholder="Username" formControlName="username" />

            <p class="titleCellphone">Cellphone</p>
            <input class="inputPhone" type="tel" name="phone" id="phone" placeholder="Cellphone"  formControlName="phone"/>

            <p class="titleAddress">Address</p>
            <input class="inputAddress" type="text" name="address" id="address" placeholder="Address" formControlName="address" />

            <p class="titlePassword">Password</p>
            <input class="inputPassword" type="password" name="password" id="password" placeholder="Password" formControlName="password" />

          </div>

          <div class="BtnContainer">
            <button type="submit" mat-raised-button color="primary" class="btn-login" [disabled]="register.invalid" >Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>