.mainContainer {
    background-color: #0654ae;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}

.registerForm {
    width: 280px;
    min-height: -moz -fit-content;
    padding: 40px 80px 80px 80px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #0f0f0f;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.registerForm .titleContainer {
    padding: 18px 0;
    font-size: 35px;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}

.registerForm .titleFullName {
    padding-top: 20px;
   
}

.registerForm .titlePassword,
.registerForm .titleEmail,
.registerForm .titleAddress,
.registerForm .titleCellphone,
.registerForm .titleFullName,
.registerForm .titleUserName {
    padding-top: 3px;
    font-size: 16px;
}

.registerForm .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.registerForm input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.registerForm .inputContainer {
    padding-top: 15px;
    width: 100%;
    font-weight: bolder;
}


.registerForm .inputEmail,
.registerForm .inputPassword,
.registerForm .inputFullName,
.registerForm .inputAddress,
.registerForm .inputPhone,
.registerForm .inputUserName {
    width: 93.5%;
    height: 10px;
    border: 1px solid black;
}


.registerForm .BtnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 18px;

}

.registerForm .btn-login {
    background-color: #0654ae;
    color: white;
    border: none;
    height: 40px;
    cursor: pointer;
    width: 100%;
}



.registerForm .btn-login:hover {
    background-color: #1469af;
}





/* Estilos responsive */
@media (max-width: 550px) {

    .registerForm {
        max-width: 240px;
    }

    .registerForm .titlePassword,
    .registerForm .titleEmail,
    .registerForm .titleAddress,
    .registerForm .titleCellphone,
    .registerForm .titleFullName,
    .registerForm .titleUserName {
        font-size: 16px;
    }


    .registerForm .titleContainer {
        font-size: 30px;
    }

    .registerForm .inputEmail,
    .registerForm .inputPassword,
    .registerForm .inputFullName,
    .registerForm .inputAddress,
    .registerForm .inputPhone,
    .registerForm .inputUserName {
        width: 91%;
        height: 10px;
    }


    .registerForm .BtnContainer {
        width: 100%;
    }

    .registerForm form {
        width: 100%;
    }

}

@media (max-width: 475px) {

    .registerForm {
        width: 200px;
        padding: 40px 80px 80px 80px;
    }

    .registerForm .titleContainer {
        padding: 0 0;
        font-size: 25px;

    }

    .registerForm .inputEmail,
    .registerForm .inputPassword,
    .registerForm .inputFullName,
    .registerForm .inputAddress,
    .registerForm .inputPhone {
        width: 89%;
        height: 10px;
    }

    .registerForm .titlePassword,
    .registerForm .titleEmail,
    .registerForm .titleAddress,
    .registerForm .titleCellphone,
    .registerForm .titleFullName,
    .registerForm .titleUserName  {
     font-size: 13px;
}
}


@media (max-width: 400px) {

    .registerForm {
        width: 150px;
        padding: 20px 40px 40px 40px;
    }

    .registerForm .titleContainer {
        font-size: 16px;
        padding: 8px 0;
        margin-bottom: 2px;
    }


    .registerForm .titlePassword,
    .registerForm .titleEmail,
    .registerForm .titleAddress,
    .registerForm .titleCellphone,
    .registerForm .titleFullName,
    .registerForm .titleUserName {
    padding-top: 2px;
    font-size: 10px;
}

    .registerForm .inputEmail,
    .registerForm .inputPassword,
    .registerForm .inputFullName,
    .registerForm .inputAddress,
    .registerForm .inputPhone,
    .registerForm .inputUserName {
        width: 85%;
        height: 8px;
        font-size: 9px;
    }


    .registerForm .btn-login {
        height: 33px;
        font-size: 12px;
        margin: 0;
        text-align: center;
    }

    .registerForm .inputContainer {
        padding-top: 0;
    }
}

@media (max-width: 380px) {

    .registerForm {
        min-height: 65%;
    }

    
    .registerForm {
        height: 69%;
    }
    
    .registerForm .titlePassword,
    .registerForm .titleEmail,
    .registerForm .titleAddress,
    .registerForm .titleCellphone,
    .registerForm .titleFullName,
    .registerForm .titleUserName {
    padding-top: 2px;
    font-size: 10px;
    margin-bottom: 4px;
}

    .registerForm .inputEmail,
    .registerForm .inputPassword,
    .registerForm .inputFullName,
    .registerForm .inputAddress,
    .registerForm .inputPhone,
    .registerForm .inputUserName {
        width: 85%;
        height: 6px;
        font-size: 9px;
    }
    
    .registerForm .titlePassword,
    .registerForm .titleEmail,
    .registerForm .titleAddress,
    .registerForm .titleCellphone,
    .registerForm .titleFullName,
    .registerForm .titleUserName {
    padding-top: 2px;
    
    font-size: 10px;
    margin-bottom: 4px;
}

    .registerForm .inputEmail,
    .registerForm .inputPassword,
    .registerForm .inputFullName,
    .registerForm .inputAddress,
    .registerForm .inputPhone,
    .registerForm .inputUserName {
        width: 85%;
        height: 6px;
        font-size: 9px;
    }
}