<div class="mainContainer">
  <div class="registerForm" > {{message}}
    <div class="content">
      <div class="titleContainer">
        <p>Registrarme</p>
      </div>
      <div class="formContainer">
        <form [formGroup]="register" (ngSubmit)="Registrar()" >
          <div class="inputContainer">

            <p class="titleFullName">Nombre Completo</p>
            <input class="inputFullName" type="text" name="fullName" id="fullName" placeholder="Nombre completo" formControlName="fullName" />

            <p class="titleEmail">Correo Electrónico</p>
            <input class="inputEmail" type="email" name="email" id="email" placeholder="Correo electrónico" formControlName="email"/>

            <p class="titleFullName">Username</p>
            <input class="inputUserName" type="text" name="username" id="username" placeholder="Username" formControlName="username" />

            <p class="titleCellphone">Celular</p>
            <input class="inputCellphone" type="tel" name="cellphone" id="cellphone" placeholder="Celular"  formControlName="cellphone"/>

            <p class="titleAddress">Dirección</p>
            <input class="inputAddress" type="text" name="address" id="address" placeholder="Dirección" formControlName="address" />

            <p class="titlePassword">Contraseña</p>
            <input class="inputPassword" type="password" name="password" id="password" placeholder="Contraseña" formControlName="password" />

          </div>

          <div class="BtnContainer">
            <button type="submit" mat-raised-button color="primary" class="btn-login" [disabled]="register.invalid" >Registrame</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>