

<div class="footerSecond">
  <h2 class="tittleSecond"> Tienda </h2>
</div>

<app-carruselProducts></app-carruselProducts>
<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="product-list" *ngIf="!loading">
  <div class="product-card" *ngFor="let product of products">
    <mat-card>
      <img (click)="goToDetails(product.productID)" mat-card-image src="{{ product.productImages[0].imageURL }}" alt="Product Image">
      <mat-card-header>
        <mat-card-title>{{ product.productName }}</mat-card-title>
        <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="price">{{ product.price | currency }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="buttonCard" mat-button color="primary" (click)="addToCart(product.productID)">Add to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
