.product-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  width: 100%;
  max-width: 300px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.product-card:hover {
  cursor: pointer;
  scale: 1.02;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card-header {
  margin-bottom: 10px;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #666666;
  line-height: 1.2; /* Ajusta el valor según tus necesidades */
  margin-bottom: 20px;
}

mat-card-subtitle {
  font-size: 16px;
  color: rgb(144, 143, 143);
}

mat-card-content {
  flex-grow: 1;
  font-size: 18px;
  font-weight: regular;
  color: #474747;
  margin-bottom: 20px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.buttonCard {
  background-color: #0056b3;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

button:hover {
  background-color: #0099ff;
  color: #ffffff;
}

.buttonAddToCart {
  color: white;
}

 
.footerSecond{
  background-color: #0654ae;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.tittleSecond{
  font-size: 1.8rem;
}

.loading {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
