<div *ngIf="loading">
  <mat-spinner></mat-spinner>

</div>

<div *ngIf="!loading" class="container">
{{ message }}

  <div class="encabezado">
    <div class="imagen">Imagen</div>
    <div class="producto">Producto</div>
    <div class="precio">Precio</div>
    <div class="cantidad">Cantidad</div>
    <div class="total">Total</div>
    <div> </div>
  </div>

  <div class="lista-productos">
    <div class="item-producto" *ngFor="let item of cartItems ">
      <div class="imagen">

        <!-- Mostrar imagen del producto -->
        <img [src]="item.productImages[0].imageURL" alt="Imagen del producto">
      </div>
      <!-- Mostrar nombre del producto -->
      <div class="producto">
        {{ item.product.productName }}
      </div>

      <!-- Mostrar precio del producto -->
      <div class="precio">
        {{ item.product.price | currency }}
      </div>

      <div class="cantidad-productos">

        <!-- reducir cantidad del producto -->
        <button (click)="substractProduct(item)">-</button>
        <!-- Mostrar cantidad del producto -->
        <div class="cantidad-indicador">
          {{item.quantity }}
        </div>
        <!-- aumentar cantidad del producto -->
        <button (click)="addProduct(item)">+</button>
      </div>
      <div class="total">
        {{ item.quantity * item.product.price | currency }}
      </div>
      <!-- Borar  producto -->
      <div class="borrar">
        <button (click)="removeProduct(item.cartID)">Borrar</button>
      </div>
    </div>
  </div>

  <div class="resumen-total">
    <div class="total-etiqueta">Total: </div>
  </div>
</div>
