<div class="container"> 
  <div class="encabezado">
    <div class="imagen">Imagen</div>
    <div class="producto">Producto</div>
    <div class="precio">Precio</div>
    <div class="cantidad">Cantidad</div>
    <div class="total">Total</div>
  </div>

  <div class="lista-productos">
    <div  class="item-producto">
      <div class="imagen" > Imagen del producto</div>
      <div class="producto">

      </div>
      <div class="precio">

      </div>
      <div class="cantidad-productos">
        <button (click)="substractProduct()">-</button>
        <div class="cantidad-indicador">

        </div>
        <button (click)="addProduct()">+</button>
      </div>
      <div class="total">

      </div>
      <div class="borrar">
        <button (click)="substractProduct()">Borrar</button>
      </div>
    </div>
  </div>

  <div class="resumen-total">
    <div class="total-etiqueta">Total</div>
    <div class="total-suma">Suma de todos los productos</div>
  </div>
</div>