<div class="mainContainer">
  <div class="login-form">
    <div class="content">
      <div class="titleContainer">
        <p>Ingresar / Login </p>
      </div>
      <form class="formContainer">
        <div class="inputContainer">
          <p class="titleEmail">Correo Electrónico</p>
          <input class="inputEmail" type="text" name="user" id="user" placeholder="Correo electrónico" />
          <p class="titlePassword">Contraseña</p>
          <input class="inputPassword" type="password" name="pass" id="pass" placeholder="Contraseña" />
        </div>
      </form>

      <div class="BtnContainer">
        <input type="submit" class="btn-login" value="INGRESAR">

        <input type="submit" class="BtnRegistrame" value="REGISTRAME">
      </div>
    </div>

  </div>
</div>