<div class="footerSecond">
  <h2>All you need in one store</h2>
</div>

<mat-toolbar color="footer" class="footer-toolbar">
  <div class="column">
    <span class="logo" routerLink="/">iParadise</span>
  </div>
  <div class="column">
    <h3>Colombia</h3>
    <p>+57 314 896 1247</p>
    <p>+57 754 9632</p>
  </div>
  <div class="column">
    <h3>Follow us</h3>
    <div class="social-icons">
      <mat-icon>facebook</mat-icon>
      <mat-icon>instagram</mat-icon>
      <mat-icon (click)="copyToClipboard(link)">linkedin</mat-icon>
    </div>
  </div>
</mat-toolbar>
