.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messageSuccess {
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    background-color: blue;
    color: white;
}

th,
td {
    text-align: left;
    padding: 8px;
}
