<h1>Inventory</h1>
<button mat-button (click)="goBack()">Back</button>
<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading" class="inventory">
  <p class="messageSuccess">
    {{ inventoryMessage }}
  </p>
  <table>
    <thead>
      <tr>
        <th colspan="2">
          Inventory #{{ inventory.inventoryID }} - Name:
          {{ product.productName }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Quantity:</td>
        <td>
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="inventory.quantity"
              [disabled]="inventoryDisabled"
              placeholder="Quantity"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Stock Min:</td>
        <td>
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="inventory.stockMin"
              [disabled]="inventoryDisabled"
              placeholder="Stock Min"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Stock Max:</td>
        <td>
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="inventory.stockMax"
              [disabled]="inventoryDisabled"
              placeholder="Stock Max"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button mat-raised-button color="primary" (click)="editInventory()" *ngIf="inventoryDisabled">
            Edit
          </button>
          <button mat-raised-button (click)="inventoryDisabled = !inventoryDisabled" *ngIf="!inventoryDisabled">
            Cancel
          </button>
          <button mat-raised-button color="primary" (click)="saveInventory()" *ngIf="!inventoryDisabled">
            Save
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="messageSuccess">
    {{ productMessage }}
  </p>
  <table>
    <thead>
      <tr>
        <th colspan="2">
          Product #{{ product.productID }} - Name: {{ product.productName }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Product Name:</td>
        <td>
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="product.productName"
              [disabled]="productDisabled"
              placeholder="Product Name"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="product.price"
              [disabled]="productDisabled"
              placeholder="Price"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button mat-raised-button color="primary" (click)="editProduct()" *ngIf="productDisabled">Edit</button>
          <button mat-raised-button (click)="productDisabled = !productDisabled" *ngIf="!productDisabled">
            Cancel
          </button>
          <button mat-raised-button color="primary" (click)="saveProduct()" *ngIf="!productDisabled">Save</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
